Importing all the required libraries to complete the assignment

In [55]:
# Import libraries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

### Task 1:
Obtain the 200 top-ranking universities in www.topuniversities.com ([ranking 2018](https://www.topuniversities.com/university-rankings/world-university-rankings/2018)).

In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total).

Store the resulting dataset in a pandas DataFrame and answer the following questions:
- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
- Answer the previous question aggregating the data by (c) country and (d) region.

In order to extract this information, we first examined the webpage using Postman Interceptor. We discovered that the data is not found in the html, rather it is imported from a [json file](https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508627223168) requested from the server.

So we make a request for this same file, and import the data from the json to a dataframe.

Since the data is sorted, we trim the dataframe to have only the top 200 results. Thus we have the Name, Rank, Country and Region for each of these universities. We drop the columns we do not require.

In order to get the remaining data, we keep the url column for now.

In [56]:
#import topuni data
topuni_url = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508627223168'
request = requests.get(topuni_url)
topuni_data = request.json()['data']

#add data to dataframe
topuni_df = pd.io.json.json_normalize(topuni_data)

#trim data frame to top 200 universities
topuni_df = topuni_df.head(200)

#drop columns that we don't need
topuni_df = topuni_df.drop(["cc", "core_id","logo","guide","nid","score","stars"],axis=1)

topuni_df

,country,rank_display,region,title,url
0,United States,1,North America,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...
1,United States,2,North America,Stanford University,/universities/stanford-university
2,United States,3,North America,Harvard University,/universities/harvard-university
3,United States,4,North America,California Institute of Technology (Caltech),/universities/california-institute-technology-...
4,United Kingdom,5,Europe,University of Cambridge,/universities/university-cambridge
5,United Kingdom,6,Europe,University of Oxford,/universities/university-oxford
6,United Kingdom,7,Europe,UCL (University College London),/universities/ucl-university-college-london
7,United Kingdom,8,Europe,Imperial College London,/universities/imperial-college-london
8,United States,9,North America,University of Chicago,/universities/university-chicago
9,Switzerland,10,Europe,ETH Zurich - Swiss Federal Institute of Techno...,/universities/eth-zurich-swiss-federal-institu...
10,Singapore,11,Asia,"Nanyang Technological University, Singapore (NTU)",/universities/nanyang-technological-university...
11,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),/universities/ecole-polytechnique-f%C3%A9d%C3%...
12,United States,13,North America,Princeton University,/universities/princeton-university
13,United States,14,North America,Cornell University,/universities/cornell-university
14,Singapore,15,Asia,National University of Singapore (NUS),/universities/national-university-singapore-nus
15,United States,16,North America,Yale University,/universities/yale-university
16,United States,17,North America,Johns Hopkins University,/universities/johns-hopkins-university
17,United States,18,North America,Columbia University,/universities/columbia-university
18,United States,19,North America,University of Pennsylvania,/universities/university-pennsylvania
19,Australia,20,Oceania,The Australian National University,/universities/australian-national-university
20,United States,=21,North America,University of Michigan,/universities/university-michigan
21,United States,=21,North America,Duke University,/universities/duke-university
22,United Kingdom,=23,Europe,The University of Edinburgh,/universities/university-edinburgh
23,United Kingdom,=23,Europe,King's College London,/universities/kings-college-london
24,China,25,Asia,Tsinghua University,/universities/tsinghua-university
25,Hong Kong,26,Asia,The University of Hong Kong,/universities/university-hong-kong
26,United States,27,North America,"University of California, Berkeley (UCB)",/universities/university-california-berkeley-ucb
27,Japan,=28,Asia,The University of Tokyo,/universities/university-tokyo
28,United States,=28,North America,Northwestern University,/universities/northwestern-university
29,Hong Kong,30,Asia,The Hong Kong University of Science and Techno...,/universities/hong-kong-university-science-tec...
...,...,...,...,...,...
170,Germany,171,Europe,Albert-Ludwigs-Universitaet Freiburg,/universities/albert-ludwigs-universitaet-frei...
171,India,172,Asia,Indian Institute of Technology Delhi (IITD),/universities/indian-institute-technology-delh...
172,Saudi Arabia,=173,Asia,King Fahd University of Petroleum & Minerals,/universities/king-fahd-university-petroleum-m...
173,United Kingdom,=173,Europe,University of Liverpool,/universities/university-liverpool
174,United States,=173,North America,University of Virginia,/universities/university-virginia
175,Australia,176,Oceania,University of Technology Sydney,/universities/university-technology-sydney
176,France,177,Europe,CentraleSupélec,/universities/centralesup%C3%A9lec
177,United States,178,North America,University of Florida,/universities/university-florida
178,India,=179,Asia,Indian Institute of Technology Bombay (IITB),/universities/indian-institute-technology-bomb...
179,Netherlands,=179,Europe,University of Twente,/universities/university-twente
180,Germany,181,Europe,University of Göttingen,/universities/university-g%C3%B6ttingen
181,Belgium,=182,Europe,Vrije Universiteit Brussel (VUB),/universities/vrije-universiteit-brussel-vub
182,Brazil,=182,Latin America,Universidade Estadual de Campinas (Unicamp),/universities/universidade-estadual-de-campina...
183,United States,=182,North America,University of Colorado Boulder,/universities/university-colorado-boulder
184,Austria,=182,Europe,Vienna University of Technology,/universities/vienna-university-technology
185,United States,186,North America,University of Rochester,/universities/university-rochester
186,Spain,187,Europe,Universidad Autónoma de Madrid,/universities/universidad-aut%C3%B3noma-de-madrid
187,Italy,=188,Europe,Alma Mater Studiorum - University of Bologna,/universities/alma-mater-studiorum-university-...
188,United Kingdom,=188,Europe,University of Reading,/universities/university-reading
189,India,190,Asia,Indian Institute of Science (IISc) Bangalore,/universities/indian-institute-science-iisc-ba...
190,South Africa,191,Africa,University of Cape Town,/universities/university-cape-town
191,Italy,=192,Europe,Scuola Normale Superiore di Pisa,/universities/scuola-normale-superiore-di-pisa
192,Italy,=192,Europe,Scuola Superiore Sant'Anna Pisa di Studi Unive...,/universities/scuola-superiore-santanna-pisa-d...
193,Japan,=192,Asia,Keio University CEMS MIM,/universities/keio-university-cems-mim
194,Sweden,=195,Europe,Stockholm University,/universities/stockholm-university
195,Spain,=195,Europe,Universitat Autònoma de Barcelona,/universities/universitat-aut%C3%B2noma-de-bar...
196,United States,=195,North America,Texas A&M University,/universities/texas-am-university
197,Mexico,199,Latin America,Instituto Tecnológico y de Estudios Superiores...,/universities/instituto-tecnol%C3%B3gico-y-de-...
198,Netherlands,200,Europe,Maastricht University,/universities/maastricht-university
199,Chile,201,Latin America,Universidad de Chile,/universities/universidad-de-chile

Now we defined the `get_university_data()` function. This function takes the university url, and returns the data on student numbers (total and international) and faculty numbers (total and international).

To do so it uses the BeautifulSoup library.

In [57]:
#cleans the result, and returns an int.
def result2int(result):
    return int(result.replace('\n','').replace(' ','').replace(',',''))

#searches the soup for the class we are looking for, and once found returns the relevant data. If not found, returns NaN.
def search_uni_soup(soup, class_name):
    try:
        search_lv1 = soup.find('div',class_=class_name)
        search_lv2 = search_lv1.find('div',class_='number').text
        return result2int(search_lv2)
    except:
        return np.nan

def get_university_data(uni_url):
    req = requests.get('https://www.topuniversities.com'+uni_url)
    page_body = req.text
    soup = BeautifulSoup(page_body, 'html.parser')
    total_student = search_uni_soup(soup, 'total student')
    inter_student = search_uni_soup(soup, 'total inter')
    total_faculty = search_uni_soup(soup, 'total faculty')
    inter_faculty = search_uni_soup(soup, 'inter faculty')
    return total_student, inter_student, total_faculty, inter_faculty

#testing to see if get_university function is working
get_university_data('/universities/stanford-university')

(15878, 3611, 4285, 2042)

Next we decided to go through the results to see if we were having any errors. The code crashed on New York University, so we went back to the function and handled numbers not found as NaN. After this we parsed through all the results and saw that New York University and Indian Institute of Science Bangalore were the only 2 rows that had NaNs. We will have to handle these special cases.

In [58]:
#add uni data to the data frame
for index, url in enumerate(topuni_df['url']):
    print(get_university_data(url), url)

#results show error on New York University and Indian Institute of Science Bangalore. Need to handle these NaNs.

(11067, 3717, 2982, 1679) /universities/massachusetts-institute-technology-mit
(15878, 3611, 4285, 2042) /universities/stanford-university
(22429, 5266, 4350, 1311) /universities/harvard-university
(2255, 647, 953, 350) /universities/california-institute-technology-caltech
(18770, 6699, 5490, 2278) /universities/university-cambridge
(19720, 7353, 6750, 2964) /universities/university-oxford
(31080, 14854, 6345, 2554) /universities/ucl-university-college-london
(16090, 8746, 3930, 2071) /universities/imperial-college-london
(13557, 3379, 2449, 635) /universities/university-chicago
(19815, 7563, 2477, 1886) /universities/eth-zurich-swiss-federal-institute-technology
(25738, 7251, 4338, 2993) /universities/nanyang-technological-university-singapore-ntu
(10343, 5896, 1695, 1300) /universities/ecole-polytechnique-f%C3%A9d%C3%A9rale-de-lausanne-epfl
(8069, 1793, 1007, 246) /universities/princeton-university
(21904, 5411, 2718, 970) /universities/cornell-university
(32728, 8917, 5106, 3086) /universities/national-university-singapore-nus
(12402, 2469, 4940, 1708) /universities/yale-university
(16146, 4105, 4462, 1061) /universities/johns-hopkins-university
(25045, 8105, 6189, 913) /universities/columbia-university
(20639, 4250, 5499, 1383) /universities/university-pennsylvania
(14442, 5551, 1600, 927) /universities/australian-national-university
(43147, 7527, 6809, 1920) /universities/university-michigan
(15320, 2864, 2938, 226) /universities/duke-university
(28040, 10551, 4075, 1553) /universities/university-edinburgh
(23780, 9451, 3650, 1513) /universities/kings-college-london
(36300, 4072, 5506, 932) /universities/tsinghua-university
(20214, 8230, 3012, 2085) /universities/university-hong-kong
(36703, 6086, 3321, 1395) /universities/university-california-berkeley-ucb
(27279, 2639, 4514, 254) /universities/university-tokyo
(18675, 3422, 4231, 1141) /universities/northwestern-university
(10375, 2921, 1150, 835) /universities/hong-kong-university-science-technology
(72207, 21910, 9581, 3905) /universities/university-toronto
(28837, 9540, 3646, 1220) /universities/mcgill-university
(40114, 6887, 2859, 662) /universities/university-california-los-angeles-ucla
(36670, 13514, 4910, 1653) /universities/university-manchester
(9760, 6748, 1088, 687) /universities/london-school-economics-political-science-lse
(22974, 1990, 4060, 293) /universities/kyoto-university
(28064, 2331, 3930, 433) /universities/seoul-national-university
(42136, 7090, 5185, 1038) /universities/peking-university
(32237, 6644, 3694, 870) /universities/university-california-san-diego-ucsd
(29135, 4680, 4037, 1178) /universities/fudan-university
(9826, 584, 1250, 147) /universities/kaist-korea-advanced-institute-science-technology
(42182, 18030, 3311, 1477) /universities/university-melbourne
(1907, 374, 178, 75) /universities/ecole-normale-sup%C3%A9rieure-paris
(20630, 5099, 2870, 942) /universities/university-bristol
(39784, 14292, 2924, 1612) /universities/university-new-south-wales-unsw-sydney
(18037, 4824, 2208, 1074) /universities/chinese-university-hong-kong-cuhk
(37497, 10420, 3158, 1870) /universities/university-queensland
(13356, 6385, 1342, 425) /universities/carnegie-mellon-university
(9240, 3273, 1349, 1027) /universities/city-university-hong-kong
(46678, 17030, 3360, 1829) /universities/university-sydney
(50350, 11388, 4648, 1635) /universities/university-british-columbia
(nan, nan, nan, nan) /universities/new-york-university-nyu
(9251, 1825, 1303, 379) /universities/brown-university
(16527, 4634, 1669, 701) /universities/delft-university-technology
(38985, 4920, 5722, 1151) /universities/university-wisconsin-madison
(9832, 1071, 1563, 191) /universities/tokyo-institute-technology
(19855, 7703, 2093, 890) /universities/university-warwick
(25967, 3785, 2600, 707) /universities/university-amsterdam
(3126, 924, 649, 259) /universities/ecole-polytechnique
(57433, 20578, 3204, 1679) /universities/monash-university
(56973, 8373, 2484, 550) /universities/university-washington
(38931, 2858, 3544, 887) /universities/shanghai-jiao-tong-university
(22760, 2106, 2814, 296) /universities/osaka-university
(38726, 6181, 5850, 1174) /universities/technical-university-munich
(23815, 8149, 2775, 956) /universities/university-glasgow
(35055, 5084, 3274, 674) /universities/ludwig-maximilians-universit%C3%A4t-m%C3%BCnchen
(47995, 4744, 2833, 108) /universities/university-texas-austin
(28852, 5298, 3908, 756) /universities/ruprecht-karls-universit%C3%A4t-heidelberg
(42427, 9483, 2554, 259) /universities/university-illinois-urbana-champaign
(21082, 4761, 1133, 75) /universities/georgia-institute-technology
(3117, 126, 664, 113) /universities/pohang-university-science-technology-postech
(45538, 6926, 2515, 784) /universities/ku-leuven
(32119, 3683, 7483, 2336) /universities/university-copenhagen
(26065, 5036, 4997, 2617) /universities/university-zurich
(122301, 27109, 16421, 3165) /universities/universidad-de-buenos-aires-uba
(17827, 1604, 3411, 264) /universities/tohoku-university
(32195, 3152, 2807, 220) /universities/national-taiwan-university-ntu
(16745, 4690, 1539, 586) /universities/durham-university
(27786, 6408, 3031, 1002) /universities/lund-university
(25373, 1934, 4083, 524) /universities/university-north-carolina-chapel-hill
(25662, 7041, 3157, 379) /universities/boston-university
(29641, 8568, 2047, 645) /universities/university-auckland
(25430, 8745, 3065, 938) /universities/university-sheffield
(28660, 7795, 2962, 1028) /universities/university-birmingham
(29165, 7993, 3360, 1135) /universities/university-nottingham
(43156, 6874, 5911, 1696) /universities/ohio-state-university
(40869, 4625, 4507, 1913) /universities/zhejiang-university
(14961, 4311, 1249, 544) /universities/trinity-college-dublin-university-dublin
(6610, 1847, 969, 316) /universities/rice-university
(25892, 3638, 3745, 339) /universities/korea-university
(31765, 8203, 3561, 1294) /universities/university-alberta
(8800, 4030, 1140, 485) /universities/university-st-andrews
(18531, 4575, 1420, 809) /universities/university-western-australia
(45612, 7081, 3509, 211) /universities/pennsylvania-state-university
(30233, 5098, 6709, 373) /universities/lomonosov-moscow-state-university
(20972, 5251, 2447, 1275) /universities/hong-kong-polytechnic-university
(16032, 548, 1992, 155) /universities/university-science-technology-china
(15844, 6104, 1752, 1029) /universities/university-geneva
(12658, 1937, 1500, 494) /universities/kth-royal-institute-technology
(13474, 2706, 2699, 784) /universities/washington-university-st-louis
(29645, 7534, 3025, 870) /universities/university-leeds
(23775, 7789, 2820, 1017) /universities/university-southampton
(22419, 1234, 2645, 535) /universities/university-helsinki
(7636, 1275, 801, 322) /universities/eindhoven-university-technology
(38143, 8787, 3247, 1334) /universities/purdue-university
(25903, 3379, 3621, 290) /universities/yonsei-university
(26081, 4809, 1827, 410) /universities/kit-karlsruhe-institute-technology
(23921, 2818, 3556, 324) /universities/sungkyunkwan-university-skku
(31754, 2771, 3067, 653) /universities/utrecht-university
(26513, 3488, 2324, 581) /universities/leiden-university
(21240, 8114, 1729, 633) /universities/university-adelaide
(25371, 5198, 2567, 584) /universities/uppsala-university
(27549, 10780, 3351, 1137) /universities/university-groningen
(17902, 3476, 2755, 655) /universities/universiti-malaya-um
(32495, 2960, 2449, 617) /universities/nanjing-university
(15838, 1547, 2665, 206) /universities/nagoya-university
(8878, 2098, 2117, 966) /universities/technical-university-denmark
(34244, 4529, 3843, 549) /universities/university-california-davis
(26226, 3762, 2316, 602) /universities/aarhus-university
(33198, 4805, 1966, 407) /universities/humboldt-universit%C3%A4t-zu-berlin
(65711, 2086, 5582, 279) /universities/universidade-de-s%C3%A3o-paulo
(141939, 2173, 15073, 949) /universities/universidad-nacional-aut%C3%B3noma-de-m%C3%A9xico-unam
(17552, 1347, 2605, 210) /universities/hokkaido-university
(12695, 3613, 2277, 323) /universities/wageningen-university
(32912, 5735, 1375, 305) /universities/freie-universitaet-berlin
(35968, 3766, 2520, 482) /universities/ghent-university

(16135, 6806, 1885, 801) /universities/queen-mary-university-london
(18660, 1787, 2858, 246) /universities/kyushu-university
(35504, 4683, 3920, 473) /universities/university-maryland-college-park
(39112, 9688, 2961, 1037) /universities/universite-de-montreal
(24305, 4213, 2273, 253) /universities/universit%C3%A9-pierre-et-marie-curie-upmc
(38749, 9170, 3124, 551) /universities/university-southern-california
(9257, 1465, 1077, 336) /universities/chalmers-university-technology
(23149, 2128, 1449, 267) /universities/university-california-santa-barbara-ucsb
(12300, 4464, 1245, 435) /universities/lancaster-university
(15999, 3364, 1833, 636) /universities/university-york
(24565, 6090, 2755, 705) /universities/cardiff-university
(27003, 991, 2260, 198) /universities/pontificia-universidad-cat%C3%B3lica-de-chile-uc
(12147, 1831, 1257, 370) /universities/aalto-university
(23702, 3548, 3231, 1170) /universities/mcmaster-university
(44517, 8556, 3176, 449) /universities/rwth-aachen-university
(26393, 2937, 4982, 572) /universities/university-pittsburgh
(24304, 3667, 2509, 711) /universities/university-oslo
(22176, 4494, 2562, 377) /universities/technische-universit%C3%A4t-berlin-tu-berlin
(16531, 1034, 2249, 454) /universities/hebrew-university-jerusalem
(13435, 3337, 2173, 1031) /universities/university-lausanne
(23273, 5229, 2011, 458) /universities/erasmus-university-rotterdam
(12852, 2154, 2560, 484) /universities/emory-university
(12852, 3441, 1057, 684) /universities/university-basel
(44951, 7427, 2884, 653) /universities/michigan-state-university
(18532, 3871, 1266, 759) /universities/university-otago
(35541, 8962, 1689, 473) /universities/university-waterloo
(24277, 4468, 1219, 406) /universities/universit%C3%A9-catholique-de-louvain-ucl
(45967, 14468, 3411, 1400) /universities/university-vienna
(23348, 3397, 3085, 364) /universities/hanyang-university
(46002, 6134, 3863, 108) /universities/universitat-de-barcelona
(2020, 221, 382, 91) /universities/%C3%A9cole-normale-sup%C3%A9rieure-de-lyon
(12005, 4246, 1310, 508) /universities/university-aberdeen
(20749, 5504, 1756, 597) /universities/university-exeter
(14370, 4213, 1165, 440) /universities/university-bath
(21673, 5717, 2428, 835) /universities/newcastle-university
(13890, 1187, 1020, 119) /universities/national-tsing-hua-university
(59742, 6542, 4919, 195) /universities/university-minnesota
(10671, 767, 1513, 484) /universities/university-bergen
(32151, 8538, 1926, 377) /universities/university-california-irvine
(27366, 3860, 3844, 796) /universities/eberhard-karls-universit%C3%A4t-t%C3%BCbingen
(10758, 1618, 1172, 661) /universities/university-bern
(19833, 3876, 1604, 627) /universities/university-college-dublin
(6224, 945, 939, 27) /universities/dartmouth-college
(36277, 5593, 1500, 231) /universities/politecnico-di-milano
(23214, 3897, 1966, 413) /universities/albert-ludwigs-universitaet-freiburg
(7477, 80, 466, 4) /universities/indian-institute-technology-delhi-iitd
(6040, 989, 1062, 665) /universities/king-fahd-university-petroleum-minerals
(22065, 7502, 2390, 717) /universities/university-liverpool
(21560, 1899, 2509, 487) /universities/university-virginia
(24207, 7769, 1328, 546) /universities/university-technology-sydney
(3877, 1132, 529, 137) /universities/centralesup%C3%A9lec
(45485, 4597, 5419, 504) /universities/university-florida
(9402, 93, 876, 19) /universities/indian-institute-technology-bombay-iitb
(9332, 2235, 910, 299) /universities/university-twente
(30402, 3736, 3678, 641) /universities/university-g%C3%B6ttingen
(9284, 1853, 1792, 515) /universities/vrije-universiteit-brussel-vub
(26572, 966, 1968, 109) /universities/universidade-estadual-de-campinas-unicamp
(30219, 2679, 3685, 566) /universities/university-colorado-boulder
(17479, 5199, 706, 172) /universities/vienna-university-technology
(9636, 2805, 2569, 488) /universities/university-rochester
(26511, 2976, 2738, 181) /universities/universidad-aut%C3%B3noma-de-madrid
(63399, 4195, 2990, 153) /universities/alma-mater-studiorum-university-bologna
(13330, 4077, 1280, 422) /universities/university-reading
(4071, 47, 423, nan) /universities/indian-institute-science-iisc-bangalore
(19593, 3325, 1733, 379) /universities/university-cape-town
(532, 48, 86, 1) /universities/scuola-normale-superiore-di-pisa
(789, 135, 119, 1) /universities/scuola-superiore-santanna-pisa-di-studi-universitari-e-di-perfezionamento
(33500, 2178, 3905, 261) /universities/keio-university-cems-mim
(28281, 2636, 2154, 646) /universities/stockholm-university
(31986, 3848, 2187, 230) /universities/universitat-aut%C3%B2noma-de-barcelona
(60294, 4900, 3446, 206) /universities/texas-am-university
(13376, 1412, 1822, 821) /universities/instituto-tecnol%C3%B3gico-y-de-estudios-superiores-de-monterrey
(16385, 8234, 1277, 502) /universities/maastricht-university
(38848, 2134, 2256, 127) /universities/universidad-de-chile

Now that we know our functions are working we added the new columns to our dataframe.

In [59]:
#adding columns for total students and international students
topuni_df["Total Students"] = topuni_df['url'].map(lambda x : get_university_data(x)[0])
topuni_df["International Students"] = topuni_df['url'].map(lambda x : get_university_data(x)[1])

In [61]:
#adding columns for total faculty and international faculty
topuni_df["Total Faculty"] = topuni_df['url'].map(lambda x : get_university_data(x)[2])
topuni_df["International Faculty"] = topuni_df['url'].map(lambda x : get_university_data(x)[3])
topuni_df.head()

,country,rank_display,region,title,url,Total Students,International Students,Total Faculty,International Faculty
0,United States,1,North America,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...,11067.0,3717.0,2982.0,1679.0
1,United States,2,North America,Stanford University,/universities/stanford-university,15878.0,3611.0,4285.0,2042.0
2,United States,3,North America,Harvard University,/universities/harvard-university,22429.0,5266.0,4350.0,1311.0
3,United States,4,North America,California Institute of Technology (Caltech),/universities/california-institute-technology-...,2255.0,647.0,953.0,350.0
4,United Kingdom,5,Europe,University of Cambridge,/universities/university-cambridge,18770.0,6699.0,5490.0,2278.0

We can now drop the url column

In [62]:
#drop columns that we don't need
topuni_df = topuni_df.drop(["url"],axis=1)
topuni_df.head()

,country,rank_display,region,title,Total Students,International Students,Total Faculty,International Faculty
0,United States,1,North America,Massachusetts Institute of Technology (MIT),11067.0,3717.0,2982.0,1679.0
1,United States,2,North America,Stanford University,15878.0,3611.0,4285.0,2042.0
2,United States,3,North America,Harvard University,22429.0,5266.0,4350.0,1311.0
3,United States,4,North America,California Institute of Technology (Caltech),2255.0,647.0,953.0,350.0
4,United Kingdom,5,Europe,University of Cambridge,18770.0,6699.0,5490.0,2278.0

Now that we have our data we can solve the questions.
#### a) Which are the best universities in terms of the ratio between faculty and staff?
To answer this question we will add a new column which computes this ratio, and sort our dataframe by this value. We assume that the higher the ratio, the better the university is. (1 faculty : 5 students is better than 1 faculty : 10 students)

In [69]:
topuni_df["Faculty/Student ratio"] = topuni_df['Total Faculty']/topuni_df['Total Students']
topuni_df.sort_values("Faculty/Student ratio",ascending=False).head()

,country,rank_display,region,title,Total Students,International Students,Total Faculty,International Faculty,Faculty/Student ratio
3,United States,4,North America,California Institute of Technology (Caltech),2255.0,647.0,953.0,350.0,0.422616
15,United States,16,North America,Yale University,12402.0,2469.0,4940.0,1708.0,0.398323
5,United Kingdom,6,Europe,University of Oxford,19720.0,7353.0,6750.0,2964.0,0.342292
4,United Kingdom,5,Europe,University of Cambridge,18770.0,6699.0,5490.0,2278.0,0.292488
16,United States,17,North America,Johns Hopkins University,16146.0,4105.0,4462.0,1061.0,0.276353

The best university in terms of Faculty:Student ratio is **California Institute of Technology (Caltech)**

#### b) Which are the best universities in terms of the ratio of international students
To answer this question we will add a new column which computes the ratio between international students and total students, and sort our dataframe by this value. We assume that the higher the ratio, the better the university is. (1 international : 5 total is better than 1 international : 10 total)

In [70]:
topuni_df["Inter/Total student ratio"] = topuni_df['International Students']/topuni_df['Total Students']
topuni_df.sort_values("Inter/Total student ratio",ascending=False).head()

,country,rank_display,region,title,Total Students,International Students,Total Faculty,International Faculty,Faculty/Student ratio,Inter/Total student ratio
34,United Kingdom,35,Europe,London School of Economics and Political Scien...,9760.0,6748.0,1088.0,687.0,0.111475,0.691393
11,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),10343.0,5896.0,1695.0,1300.0,0.163879,0.570047
7,United Kingdom,8,Europe,Imperial College London,16090.0,8746.0,3930.0,2071.0,0.244251,0.543567
198,Netherlands,200,Europe,Maastricht University,16385.0,8234.0,1277.0,502.0,0.077937,0.502533
47,United States,=47,North America,Carnegie Mellon University,13356.0,6385.0,1342.0,425.0,0.100479,0.478062

The best university in terms of International Student ratio is **London School of Economics and Political Science (LSE)**

#### c) Aggregate by country
To answer this question we will add aggregate all the values by country, and recalculate the Faculty:Student ratio and International:Total student ratio with the aggregated figures

In [77]:
topuni_country_df = topuni_df.drop(["Inter/Total student ratio", "Faculty/Student ratio"],axis=1)
topuni_country_df = topuni_country_df.groupby("country",as_index=False).sum()
topuni_country_df["Faculty/Student ratio"] = topuni_country_df['Total Faculty']/topuni_country_df['Total Students']
topuni_country_df["Inter/Total student ratio"] = topuni_country_df['International Students']/topuni_country_df['Total Students']
topuni_country_df

,country,Total Students,International Students,Total Faculty,International Faculty,Faculty/Student ratio,Inter/Total student ratio
0,Argentina,122301.0,27109.0,16421.0,3165.0,0.134267,0.221658
1,Australia,301994.0,106359.0,22034.0,11382.0,0.072962,0.352189
2,Austria,63446.0,19667.0,4117.0,1572.0,0.064890,0.309980
3,Belgium,115067.0,17013.0,8046.0,2187.0,0.069924,0.147853
4,Brazil,92283.0,3052.0,7550.0,388.0,0.081814,0.033072
5,Canada,281514.0,73239.0,29317.0,10734.0,0.104140,0.260161
6,Chile,65851.0,3125.0,4516.0,325.0,0.068579,0.047456
7,China,235898.0,26833.0,27220.0,6720.0,0.115389,0.113748
8,Denmark,67223.0,9543.0,11916.0,3904.0,0.177261,0.141960
9,Finland,34566.0,3065.0,3902.0,905.0,0.112885,0.088671
10,France,35235.0,6864.0,4011.0,815.0,0.113836,0.194806
11,Germany,342499.0,56455.0,33426.0,6402.0,0.097594,0.164833
12,Hong Kong,78838.0,24499.0,10166.0,6296.0,0.128948,0.310751
13,India,20950.0,220.0,1765.0,23.0,0.084248,0.010501
14,Ireland,34794.0,8187.0,2853.0,1171.0,0.081997,0.235299
15,Israel,16531.0,1034.0,2249.0,454.0,0.136047,0.062549
16,Italy,100997.0,9971.0,4695.0,386.0,0.046487,0.098726
17,Japan,186222.0,16269.0,28395.0,2221.0,0.152479,0.087363
18,Malaysia,17902.0,3476.0,2755.0,655.0,0.153893,0.194168
19,Mexico,155315.0,3585.0,16895.0,1770.0,0.108779,0.023082
20,Netherlands,197631.0,46044.0,20287.0,5683.0,0.102651,0.232980
21,New Zealand,48173.0,12439.0,3313.0,1404.0,0.068773,0.258215
22,Norway,34975.0,4434.0,4022.0,1195.0,0.114996,0.126776
23,Russia,30233.0,5098.0,6709.0,373.0,0.221910,0.168624
24,Saudi Arabia,6040.0,989.0,1062.0,665.0,0.175828,0.163742
25,Singapore,58466.0,16168.0,9444.0,6079.0,0.161530,0.276537
26,South Africa,19593.0,3325.0,1733.0,379.0,0.088450,0.169703
27,South Korea,140071.0,16273.0,19851.0,2010.0,0.141721,0.116177
28,Spain,104499.0,12958.0,8788.0,519.0,0.084096,0.124001
29,Sweden,103353.0,17644.0,10329.0,3062.0,0.099939,0.170716
30,Switzerland,109112.0,32995.0,15323.0,9208.0,0.140434,0.302396
31,Taiwan,46085.0,4339.0,3827.0,339.0,0.083042,0.094152
32,United Kingdom,583621.0,199426.0,79934.0,30216.0,0.136962,0.341705
33,United States,1264839.0,218877.0,152806.0,33102.0,0.120811,0.173047

In [90]:
topuni_country_df.sort_values("Faculty/Student ratio",ascending=False).head()

,country,Total Students,International Students,Total Faculty,International Faculty,Faculty/Student ratio,Inter/Total student ratio
23,Russia,30233.0,5098.0,6709.0,373.0,0.221910,0.168624
8,Denmark,67223.0,9543.0,11916.0,3904.0,0.177261,0.141960
24,Saudi Arabia,6040.0,989.0,1062.0,665.0,0.175828,0.163742
25,Singapore,58466.0,16168.0,9444.0,6079.0,0.161530,0.276537
18,Malaysia,17902.0,3476.0,2755.0,655.0,0.153893,0.194168

The country that is best in terms of Faculty:Student ratio is **Russia**

In [91]:
topuni_country_df.sort_values("Inter/Total student ratio",ascending=False).head()

,country,Total Students,International Students,Total Faculty,International Faculty,Faculty/Student ratio,Inter/Total student ratio
1,Australia,301994.0,106359.0,22034.0,11382.0,0.072962,0.352189
32,United Kingdom,583621.0,199426.0,79934.0,30216.0,0.136962,0.341705
12,Hong Kong,78838.0,24499.0,10166.0,6296.0,0.128948,0.310751
2,Austria,63446.0,19667.0,4117.0,1572.0,0.064890,0.309980
30,Switzerland,109112.0,32995.0,15323.0,9208.0,0.140434,0.302396

The country that is best in terms of International Student ratio is **Australia**

#### d) Aggregate by region
To answer this question we will add aggregate all the values by region, and recalculate the Faculty:Student ratio and International:Total student ratio with the aggregated figures

In [83]:
topuni_region_df = topuni_df.drop(["Inter/Total student ratio", "Faculty/Student ratio"],axis=1)
topuni_region_df = topuni_region_df.groupby("region",as_index=False).sum()
topuni_region_df["Faculty/Student ratio"] = topuni_region_df['Total Faculty']/topuni_region_df['Total Students']
topuni_region_df["Inter/Total student ratio"] = topuni_region_df['International Students']/topuni_region_df['Total Students']
topuni_region_df

,region,Total Students,International Students,Total Faculty,International Faculty,Faculty/Student ratio,Inter/Total student ratio
0,Africa,19593.0,3325.0,1733.0,379.0,0.088450,0.169703
1,Asia,807003.0,110100.0,106734.0,25462.0,0.132260,0.136431
2,Europe,1957251.0,449364.0,218358.0,67598.0,0.111564,0.229589
3,Latin America,435750.0,36871.0,45382.0,5648.0,0.104147,0.084615
4,North America,1546353.0,292116.0,182123.0,43836.0,0.117776,0.188906
5,Oceania,350167.0,118798.0,25347.0,12786.0,0.072385,0.339261

In [85]:
topuni_region_df.sort_values("Faculty/Student ratio",ascending=False).head()

,region,Total Students,International Students,Total Faculty,International Faculty,Faculty/Student ratio,Inter/Total student ratio
1,Asia,807003.0,110100.0,106734.0,25462.0,0.132260,0.136431
4,North America,1546353.0,292116.0,182123.0,43836.0,0.117776,0.188906
2,Europe,1957251.0,449364.0,218358.0,67598.0,0.111564,0.229589
3,Latin America,435750.0,36871.0,45382.0,5648.0,0.104147,0.084615
0,Africa,19593.0,3325.0,1733.0,379.0,0.088450,0.169703

The region that is best in terms of Faculty:Student ratio is **Asia**

In [86]:
topuni_region_df.sort_values("Inter/Total student ratio",ascending=False).head()

,region,Total Students,International Students,Total Faculty,International Faculty,Faculty/Student ratio,Inter/Total student ratio
5,Oceania,350167.0,118798.0,25347.0,12786.0,0.072385,0.339261
2,Europe,1957251.0,449364.0,218358.0,67598.0,0.111564,0.229589
4,North America,1546353.0,292116.0,182123.0,43836.0,0.117776,0.188906
0,Africa,19593.0,3325.0,1733.0,379.0,0.088450,0.169703
1,Asia,807003.0,110100.0,106734.0,25462.0,0.132260,0.136431

The region that is best in terms of International Student ratio is **Oceania**

### Task 2:
Obtain the 200 top-ranking universities in www.timeshighereducation.com ([ranking 2018](http://timeshighereducation.com/world-university-rankings/2018/world-ranking)).

In particular, extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total).

Store the resulting dataset in a pandas DataFrame and answer the following questions:
- Which are the best universities in term of: (a) ratio between faculty members and students, (b) ratio of international students?
- Answer the previous question aggregating the data by (c) country and (d) region.

In order to extract this information, we first examined the webpage using Postman Interceptor. We discovered that the data is not found in the html, rather it is imported from a [json file](https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json) requested from the server.

So we make a request for this same file, and import the data from the json to a dataframe.

Since the data is sorted, we trim the dataframe to have only the top 200 results. Thus we have the Name, Rank, Country and Region for each of these universities. We drop the columns we do not require.

In order to get the remaining data, we keep the url column for now.