In [54]:
# Import libraries
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

In [59]:
#import topuni data
topuni_url = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508627223168'
request = requests.get(topuni_url)
topuni_data = request.json()['data']

#add data to dataframe
topuni_df = pd.io.json.json_normalize(topuni_data)

#trim data frame to top 200 universities
topuni_df = topuni_df.head(200)

#drop columns that we don't need
topuni_df = topuni_df.drop(["cc", "core_id","logo","guide","nid","score","stars"],axis=1)

topuni_df

,country,rank_display,region,title,url
0,United States,1,North America,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...
1,United States,2,North America,Stanford University,/universities/stanford-university
2,United States,3,North America,Harvard University,/universities/harvard-university
3,United States,4,North America,California Institute of Technology (Caltech),/universities/california-institute-technology-...
4,United Kingdom,5,Europe,University of Cambridge,/universities/university-cambridge
5,United Kingdom,6,Europe,University of Oxford,/universities/university-oxford
6,United Kingdom,7,Europe,UCL (University College London),/universities/ucl-university-college-london
7,United Kingdom,8,Europe,Imperial College London,/universities/imperial-college-london
8,United States,9,North America,University of Chicago,/universities/university-chicago
9,Switzerland,10,Europe,ETH Zurich - Swiss Federal Institute of Techno...,/universities/eth-zurich-swiss-federal-institu...
10,Singapore,11,Asia,"Nanyang Technological University, Singapore (NTU)",/universities/nanyang-technological-university...
11,Switzerland,12,Europe,Ecole Polytechnique Fédérale de Lausanne (EPFL),/universities/ecole-polytechnique-f%C3%A9d%C3%...
12,United States,13,North America,Princeton University,/universities/princeton-university
13,United States,14,North America,Cornell University,/universities/cornell-university
14,Singapore,15,Asia,National University of Singapore (NUS),/universities/national-university-singapore-nus
15,United States,16,North America,Yale University,/universities/yale-university
16,United States,17,North America,Johns Hopkins University,/universities/johns-hopkins-university
17,United States,18,North America,Columbia University,/universities/columbia-university
18,United States,19,North America,University of Pennsylvania,/universities/university-pennsylvania
19,Australia,20,Oceania,The Australian National University,/universities/australian-national-university
20,United States,=21,North America,University of Michigan,/universities/university-michigan
21,United States,=21,North America,Duke University,/universities/duke-university
22,United Kingdom,=23,Europe,The University of Edinburgh,/universities/university-edinburgh
23,United Kingdom,=23,Europe,King's College London,/universities/kings-college-london
24,China,25,Asia,Tsinghua University,/universities/tsinghua-university
25,Hong Kong,26,Asia,The University of Hong Kong,/universities/university-hong-kong
26,United States,27,North America,"University of California, Berkeley (UCB)",/universities/university-california-berkeley-ucb
27,Japan,=28,Asia,The University of Tokyo,/universities/university-tokyo
28,United States,=28,North America,Northwestern University,/universities/northwestern-university
29,Hong Kong,30,Asia,The Hong Kong University of Science and Techno...,/universities/hong-kong-university-science-tec...
...,...,...,...,...,...
170,Germany,171,Europe,Albert-Ludwigs-Universitaet Freiburg,/universities/albert-ludwigs-universitaet-frei...
171,India,172,Asia,Indian Institute of Technology Delhi (IITD),/universities/indian-institute-technology-delh...
172,Saudi Arabia,=173,Asia,King Fahd University of Petroleum & Minerals,/universities/king-fahd-university-petroleum-m...
173,United Kingdom,=173,Europe,University of Liverpool,/universities/university-liverpool
174,United States,=173,North America,University of Virginia,/universities/university-virginia
175,Australia,176,Oceania,University of Technology Sydney,/universities/university-technology-sydney
176,France,177,Europe,CentraleSupélec,/universities/centralesup%C3%A9lec
177,United States,178,North America,University of Florida,/universities/university-florida
178,India,=179,Asia,Indian Institute of Technology Bombay (IITB),/universities/indian-institute-technology-bomb...
179,Netherlands,=179,Europe,University of Twente,/universities/university-twente
180,Germany,181,Europe,University of Göttingen,/universities/university-g%C3%B6ttingen
181,Belgium,=182,Europe,Vrije Universiteit Brussel (VUB),/universities/vrije-universiteit-brussel-vub
182,Brazil,=182,Latin America,Universidade Estadual de Campinas (Unicamp),/universities/universidade-estadual-de-campina...
183,United States,=182,North America,University of Colorado Boulder,/universities/university-colorado-boulder
184,Austria,=182,Europe,Vienna University of Technology,/universities/vienna-university-technology
185,United States,186,North America,University of Rochester,/universities/university-rochester
186,Spain,187,Europe,Universidad Autónoma de Madrid,/universities/universidad-aut%C3%B3noma-de-madrid
187,Italy,=188,Europe,Alma Mater Studiorum - University of Bologna,/universities/alma-mater-studiorum-university-...
188,United Kingdom,=188,Europe,University of Reading,/universities/university-reading
189,India,190,Asia,Indian Institute of Science (IISc) Bangalore,/universities/indian-institute-science-iisc-ba...
190,South Africa,191,Africa,University of Cape Town,/universities/university-cape-town
191,Italy,=192,Europe,Scuola Normale Superiore di Pisa,/universities/scuola-normale-superiore-di-pisa
192,Italy,=192,Europe,Scuola Superiore Sant'Anna Pisa di Studi Unive...,/universities/scuola-superiore-santanna-pisa-d...
193,Japan,=192,Asia,Keio University CEMS MIM,/universities/keio-university-cems-mim
194,Sweden,=195,Europe,Stockholm University,/universities/stockholm-university
195,Spain,=195,Europe,Universitat Autònoma de Barcelona,/universities/universitat-aut%C3%B2noma-de-bar...
196,United States,=195,North America,Texas A&M University,/universities/texas-am-university
197,Mexico,199,Latin America,Instituto Tecnológico y de Estudios Superiores...,/universities/instituto-tecnol%C3%B3gico-y-de-...
198,Netherlands,200,Europe,Maastricht University,/universities/maastricht-university
199,Chile,201,Latin America,Universidad de Chile,/universities/universidad-de-chile

In [61]:
#import timesedu data
timesedu_url = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
request = requests.get(timesedu_url)
timesedu_data = request.json()['data']

#add data to dataframe
timesedu_df = pd.io.json.json_normalize(timesedu_data)

#trim data frame to top 200 universities
timesedu_df = timesedu_df.head(200)

#drop columns that we don't need
timesedu_df = timesedu_df.drop(["member_level","nid","record_type"],axis=1)

timesedu_df


#topuniversities
# URL = 'https://www.topuniversities.com/university-rankings/world-university-rankings/2018'
# r = requests.get(URL)
# page_body = r.text
# soup = BeautifulSoup(page_body, 'html.parser')
# soup.prettify
# table = soup.find_all('table', id = 'qs-rankings')
# table

,aliases,location,name,rank,rank_order,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,...,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,subjects_offered,url
0,University of Oxford,United Kingdom,University of Oxford,1,10,99.1,15,63.7,169,95.0,...,99.5,1,86.7,5,46 : 54,"20,409",38%,11.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-oxford
1,University of Cambridge,United Kingdom,University of Cambridge,2,20,97.5,29,51.5,260,93.0,...,97.8,3,87.8,3,45 : 55,"18,389",35%,10.9,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-cambridge
2,California Institute of Technology caltech,United States,California Institute of Technology,=3,30,99.5,10,92.6,51,59.7,...,97.5,4,90.3,1,31 : 69,"2,209",27%,6.5,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/california-institut...
3,Stanford University,United States,Stanford University,=3,40,99.9,4,60.5,189,77.6,...,96.7,5,89.1,2,42 : 58,"15,845",22%,7.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/stanford-university
4,Massachusetts Institute of Technology,United States,Massachusetts Institute of Technology,5,50,100.0,1,88.4,63,87.6,...,91.9,9,87.3,4,37 : 63,"11,177",34%,8.7,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/massachusetts-insti...
5,Harvard University,United States,Harvard University,6,60,99.7,8,46.4,330,79.7,...,98.4,2,84.2,9,None,"20,326",26%,8.9,"Agriculture & Forestry,Archaeology,Art, Perfor...",/world-university-rankings/harvard-university
6,Princeton University,United States,Princeton University,7,70,99.6,9,58.0,204,78.7,...,93.9,6,85.7,7,45 : 55,"7,955",24%,8.3,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/princeton-university
7,Imperial College London,United Kingdom,Imperial College London,8,80,96.7,40,71.6,120,96.6,...,88.7,12,81.7,13,37 : 63,"15,857",55%,11.4,"Biological Sciences,Chemical Engineering,Chemi...",/world-university-rankings/imperial-college-lo...
8,University of Chicago,United States,University of Chicago,9,90,99.4,12,39.8,487,69.6,...,90.1,10,85.3,8,44 : 56,"13,525",25%,6.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-chicago
9,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,ETH Zurich – Swiss Federal Institute of Techno...,=10,100,94.3,60,60.3,190,98.1,...,92.0,8,76.4,21,31 : 69,"19,233",38%,14.6,"Agriculture & Forestry,Architecture,Biological...",/world-university-rankings/eth-zurich-swiss-fe...
10,University of Pennsylvania,United States,University of Pennsylvania,=10,110,98.5,22,56.9,213,61.3,...,90.1,11,83.7,10,50 : 50,"20,361",20%,6.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-pennsylv...
11,Yale University,United States,Yale University,12,120,98.4,24,45.1,361,64.6,...,87.0,17,86.7,6,49 : 51,"12,155",21%,4.3,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/yale-university
12,Johns Hopkins University,United States,Johns Hopkins University,13,130,98.4,23,95.8,41,70.6,...,88.1,16,76.1,23,52 : 48,"15,498",24%,4.3,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/johns-hopkins-unive...
13,Columbia University,United States,Columbia University,14,140,98.8,19,41.3,438,76.6,...,83.3,26,82.2,12,None,"26,587",32%,6.1,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/columbia-university
14,"University of California, Los Angeles",United States,"University of California, Los Angeles",15,150,97.9,27,48.6,298,59.5,...,88.1,15,80.7,14,53 : 47,"39,279",17%,9.6,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/university-californ...
15,University College London ucl,United Kingdom,University College London,16,160,94.6,56,41.2,441,94.6,...,88.2,13,74.4,25,56 : 44,"30,304",49%,10.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-college-...
16,Duke University,United States,Duke University,17,170,98.3,25,100.0,1,62.5,...,80.6,27,80.7,15,49 : 51,"15,256",22%,4.5,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/duke-university
17,"University of California, Berkeley",United States,"University of California, Berkeley",18,180,99.8,5,37.5,586,64.5,...,84.5,24,77.4,18,52 : 48,"36,182",17%,13.1,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/university-californ...
18,Cornell University,United States,Cornell University,19,190,97.6,28,34.6,749,69.2,...,86.6,19,76.2,22,49 : 51,"21,850",24%,9.8,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/cornell-university
19,Northwestern University,United States,Northwestern University,20,200,96.9,36,78.2,99,59.2,...,86.7,18,72.6,28,48 : 52,"17,466",18%,12.8,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/northwestern-univer...
20,University of Michigan,United States,University of Michigan,21,210,95.7,47,46.2,333,55.8,...,86.3,20,77.2,20,48 : 52,"41,818",16%,8.6,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-michigan
21,National University of Singapore nus,Singapore,National University of Singapore,=22,220,81.3,193,61.9,181,95.8,...,88.2,14,77.4,19,51 : 49,"30,602",30%,17.0,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/national-university...
22,University of Toronto,Canada,University of Toronto,=22,230,92.6,75,46.5,329,80.1,...,84.8,23,74.6,24,None,"69,427",17%,18.7,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-toronto
23,Carnegie Mellon University,United States,Carnegie Mellon University,24,240,99.7,7,50.4,277,79.1,...,83.7,25,65.8,36,39 : 61,"12,676",45%,13.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/carnegie-mellon-uni...
24,London School of Economics and Political Science,United Kingdom,London School of Economics and Political Science,=25,250,94.9,53,33.7,820,92.2,...,72.0,43,71.8,30,52 : 48,"10,065",71%,12.2,"Accounting & Finance,Business & Management,Eco...",/world-university-rankings/london-school-econo...
25,University of Washington,United States,University of Washington,=25,260,99.0,17,47.3,319,56.5,...,79.9,28,67.9,34,52 : 48,"44,945",16%,11.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-washington
26,University of Edinburgh,United Kingdom,University of Edinburgh,=27,270,97.0,35,36.3,645,92.0,...,74.2,36,66.8,35,59 : 41,"26,759",40%,12.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-edinburgh
27,New York University,United States,New York University,=27,280,96.5,43,37.0,615,53.4,...,77.4,34,73.7,27,56 : 44,"43,860",26%,9.6,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/new-york-university
28,Peking University,China,Peking University,=27,290,74.2,274,100.0,8,53.0,...,85.1,22,83.0,11,47 : 53,"42,136",16%,8.9,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/peking-university
29,Tsinghua University Qinghua University Tsing h...,China,Tsinghua University,30,300,71.4,306,99.8,19,41.0,...,93.2,7,80.2,16,32 : 68,"42,089",9%,13.7,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/tsinghua-university
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,University of Cape Town,South Africa,University of Cape Town,171,1710,87.0,133,88.5,62,81.1,...,36.2,225,30.5,372,53 : 47,"20,775",18%,11.7,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-cape-town
171,"Rutgers, the State University of New Jersey",United States,"Rutgers, the State University of New Jersey",172,1720,79.7,214,36.9,620,39.2,...,45.3,143,43.0,148,52 : 48,"43,439",10%,11.1,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/rutgers-state-unive...
172,KTH Royal Institute of Technology,Sweden,KTH Royal Institute of Technology,=173,1730,67.0,363,50.9,272,83.7,...,46.3,138,42.3,158,33 : 67,"12,951",17%,16.0,"Architecture,Biological Sciences,Chemistry,Com...",/world-university-rankings/kth-royal-institute...
173,University of Münster,Germany,University of Münster,=173,1740,81.2,195,60.8,185,47.7,...,42.1,161,40.3,181,53 : 47,"42,287",7%,42.6,"Chemistry,Communication & Media Studies,Comput...",/world-university-rankings/university-munster
174,Université Libre de Bruxelles,Belgium,Université Libre de Bruxelles,=175,1750,80.4,205,48.4,302,83.2,...,42.2,160,32.4,332,55 : 45,"25,343",35%,43.4,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/universite-libre-de...
175,Newcastle University,United Kingdom,Newcastle University,=175,1760,80.6,201,41.6,426,86.7,...,40.8,176,33.4,304,49 : 51,"20,952",30%,15.6,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/newcastle-university
176,University of Liverpool,United Kingdom,University of Liverpool,=177,1770,86.8,136,37.1,609,89.9,...,34.7,245,32.7,318,54 : 46,"19,815",35%,11.7,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-liverpool
177,Zhejiang University ZJU Zhejiang University Ch...,China,Zhejiang University,=177,1780,45.1,564,89.4,57,25.2,...,63.7,60,57.0,63,22 : 78,"50,051",6%,14.1,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/zhejiang-university
178,University of Luxembourg,Luxembourg,University of Luxembourg,=179,1790,91.9,78,39.6,493,99.8,...,32.4,275,26.8,475,50 : 50,"4,969",57%,14.6,"Accounting & Finance,Biological Sciences,Busin...",/world-university-rankings/university-luxembourg
179,University of Twente,Netherlands,University of Twente,=179,1800,68.5,342,83.6,79,85.3,...,47.0,134,35.5,257,37 : 63,"6,697",27%,12.8,"Art, Performing Arts & Design,Business & Manag...",/world-university-rankings/university-twente
180,Paris-Sud University,France,Paris-Sud University,181,1810,86.8,138,32.3,971,63.5,...,33.1,265,40.4,180,55 : 45,"27,221",16%,14.5,"Business & Management,Chemistry,Economics & Ec...",/world-university-rankings/paris-sud-university
181,École Normale Supérieure de Lyon,France,École Normale Supérieure de Lyon,=182,1820,80.9,197,37.9,570,67.3,...,37.8,210,40.1,185,47 : 53,"2,221",13%,8.5,"Chemistry,Computer Science,Geology, Environmen...",/world-university-rankings/ecole-normale-super...
182,Hong Kong Polytechnic University hkpu hong kon...,Hong Kong,Hong Kong Polytechnic University,=182,1830,67.7,356,45.8,343,79.9,...,48.1,126,39.1,197,51 : 49,"21,773",25%,26.9,"Accounting & Finance,Art, Performing Arts & De...",/world-university-rankings/hong-kong-polytechn...
183,Scuola Normale Superiore di Pisa,Italy,Scuola Normale Superiore di Pisa,184,1840,75.4,255,37.7,581,49.4,...,33.3,263,53.7,74,30 : 70,515,7%,5.2,"Biological Sciences,Chemistry,Computer Science...",/world-university-rankings/scuola-normale-supe...
184,University of Aberdeen,United Kingdom,University of Aberdeen,185,1850,87.1,131,41.9,419,93.3,...,33.6,258,30.3,377,55 : 45,"12,055",36%,13.9,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-aberdeen
185,University of Miami,United States,University of Miami,186,1860,90.3,91,37.2,606,67.1,...,24.4,418,42.5,157,51 : 49,"15,860",16%,5.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-miami
186,University of Dundee,United Kingdom,University of Dundee,187,1870,94.5,57,43.4,383,79.8,...,32.0,284,26.3,491,62 : 38,"10,893",24%,14.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-dundee
187,University of East Anglia,United Kingdom,University of East Anglia,=188,1880,90.5,89,32.2,977,85.6,...,31.6,290,29.9,395,60 : 40,"13,521",30%,13.6,"Accounting & Finance,Archaeology,Biological Sc...",/world-university-rankings/university-east-anglia
188,Shanghai Jiao Tong University,China,Shanghai Jiao Tong University,=188,1890,44.1,572,88.9,60,33.4,...,62.5,67,53.5,76,41 : 59,"37,288",6%,12.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/shanghai-jiao-tong-...
189,Aalto University,Finland,Aalto University,190,1900,79.5,215,52.5,249,72.5,...,35.8,232,37.8,210,34 : 66,"12,744",20%,20.2,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/aalto-university
190,University of Massachusetts,United States,University of Massachusetts,191,1910,88.8,112,51.0,269,54.8,...,32.2,280,36.3,237,49 : 51,"59,230",14%,13.3,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-massachu...
191,University of Auckland,New Zealand,University of Auckland,192,1920,73.8,282,67.3,154,90.6,...,40.7,177,32.5,327,54 : 46,"30,348",29%,18.8,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-auckland
192,Northeastern University,United States,Northeastern University,193,1930,91.7,79,35.4,699,70.1,...,26.8,370,35.6,254,49 : 51,"18,780",32%,14.0,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/northeastern-univer...
193,Lomonosov Moscow State University,Russian Federation,Lomonosov Moscow State University,194,1940,15.8,932,89.0,58,61.1,...,61.6,71,74.2,26,48 : 52,"29,236",22%,7.3,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/lomonosov-moscow-st...
194,Tilburg University,Netherlands,Tilburg University,195,1950,61.3,422,59.0,197,75.8,...,50.1,112,38.4,206,48 : 52,"7,738",13%,22.5,"Business & Management,Economics & Econometrics...",/world-university-rankings/tilburg-university
195,Paris-Sorbonne University – Paris 4,France,Paris-Sorbonne University – Paris 4,196,1960,77.1,240,32.1,998,57.9,...,34.3,251,44.6,132,68 : 32,"22,042",15%,30.2,"Archaeology,Art, Performing Arts & Design,Geog...",/world-university-rankings/paris-sorbonne-univ...
196,"Royal Holloway, University of London",United Kingdom,"Royal Holloway, University of London",197,1970,85.0,156,35.0,725,93.0,...,27.9,345,33.9,294,59 : 41,"8,931",40%,15.4,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/royal-holloway-univ...
197,"University of California, Riverside",United States,"University of California, Riverside",=198,1980,92.3,76,37.4,590,63.9,...,30.9,294,30.0,391,51 : 49,"20,740",14%,20.7,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-californ...
198,University of Gothenburg,Sweden,University of Gothenburg,=198,1990,87.5,129,38.9,525,62.5,...,39.2,199,26.7,477,None,"18,378",13%,10.0,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/university-gothenburg
199,National Taiwan University,Taiwan,National Taiwan University,=198,2000,53.4,495,65.0,165,33.4,...,54.7,93,50.4,87,40 : 60,"31,758",8%,11.5,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/national-taiwan-uni...